# Virtual environment
venv

# Python project files
*.pyc
.ropeproject
.env
__pycache__
# components/__pycache__
pytest.ini
build/
dist/
labhack.egg-info/
logs/

# Pycharm project files
.idea

# Saved games
*.sav


# Misc files
todo.txt
brainstorm.txt
