# Virtual environment
venv

# Python project files
*.pyc
.ropeproject
.env
.coverage
__pycache__
htmlcov

# components/__pycache__
pytest.ini
build/
dist/
labhack.egg-info/
logs/

# Pycharm project files
.idea


# Saved games
*.sav


# Misc files
extrastuff
todo.txt
brainstorm.txt
